<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.helloandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".w6examples.example4.MasterActivity"
            android:label="@string/title_activity_master"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".w6examples.example2.Example2Activity"
            android:label="@string/title_activity_example4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".w6examples.example1.Example1Activity"
            android:label="@string/title_activity_example3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".w6examples.example3.Example3Activity" />
        <activity
            android:name=".w5examples.FirstActivity"
            android:label="@string/title_activity_example1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".w5examples.ThirdActivity" />
        <activity android:name=".w5examples.SecondActivity" />
        <activity android:name=".W5FirstActivity" />
        <activity android:name=".W5MainActivity" />
        <activity android:name=".W5SecondActivity" />
        <activity android:name=".W4CarsActivity" />
        <activity android:name=".W3Challenge1Activity" />
        <activity android:name=".W3ExamplesActivity" />
        <activity android:name=".W3Challenge3Activity" />
        <activity android:name=".W4ExampleActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_second"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".W2Challenge1Activity"
            android:label="@string/title_activity_second"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".w8example.RetrofitMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".w6examples.example4.Example4Activity" />
    </application>

</manifest>